<IfModule mod_rewrite.c>
    RewriteEngine On

    # Permitir acesso direto a arquivos existentes (imagens, css, js, etc.)
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Redireciona tudo para app/main/index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ app/main/index.php [L,QSA]
</IfModule>